:root {
  --primary: #231942;
  --secondary: #5e548e;
  --tertiary: #9f86c0;
  --quaternary: #be95c4;
  --quinary: #e0b1cb;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;



}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 550;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--light);
  color: black;
  font-family: sans-serif, 'Helvetica Neue';

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin: 5px 10px;
  line-height: 1.50;
  color: var(--primary)
}



h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  margin: 5px 10px;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

a:hover {
  text-decoration: underline;
}


button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}




/* span[role="img"] {
  cursor: default;
} */



.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}



a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

/**************** ip modifications **********************/

.nav {
  padding: 10px;
  flex-direction: row;
  justify-content: flex-end;
}

.navActive {
  color: var(--primary);

}

.active {
  color: var(--tertiary);
}

.nav:hover {
  color: var(--secondary);
  font-size:35px;
  background-color: var(--tertiary);
  border-radius: 10%;
  padding: 10px;
  opacity: .8;

}

.hero {
  height: 50%;
  width: 100%;
}

.ip-picture {
  padding: 10px;
  margin: 10px;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  border-radius: 15%;
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
}

.ip-desc {
  padding: 10px;
  margin: 30px 10px;
  flex-direction: row;
  justify-content: flex-start;
  border-left: 0.5px solid;


}

.col-6 {
  max-width: 100%;
}

.footer {
  padding: 50px;;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.footer-img {
  width: 40%;
  height: 50%;
}

.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.card {
  width: 55%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
  opacity: 0.7;

}

.card-img {
  width: 100%;
  border-radius:10%

}

.card:hover {
  opacity: 1.0;
  transition: ease-in;
  background-color: var(--tertiary);
  transition: width 2s, height 2s, transform 2s ease-in;

}



.project-list {
  border-bottom: 1px solid;
}

.contact-container {
  border-bottom: 1px solid;
}

.contact-form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  flex-direction: column;
}

.resume-list {
  border-bottom: 1px solid;
}

.resume-link {
  padding: 20px;
  margin: 20px;
  font-size:25px;
}

.resume-link a {
  color: var(--tertiary);
}

.resume-link a:hover {
  color: var(--secondary);
  font-size:35px;
  background-color: var(--primary);
  border-radius: 10%;
  padding: 10px;
}

.resume-main {
  padding: 20px;
  margin: 20px;
}

.header-space {
  padding: 20px 10px ;
  margin: 10px;
}

.form-input:hover {
  opacity: 1.0;
  transition: ease-in;
  background-color: var(--quaternary);
  transition: width 2s, height 2s, transform 2s ease-in;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--primary);
  outline: none;
  border-radius: 10%;
  transition: box-shadow 0.2s;
  width: 600px;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 600px;
	height: 120px;
  padding: 5px;
  border: 1px solid var(--primary);
  border-radius: 10%;
}

button {
	background: var(--primary);
	border: 0;
  border-radius: 15%;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
  padding: 10px 15px;	
  width: 600px;
}

button:hover {
  opacity: .8;
  font-size:20px;
  
}

